.wallet-recap {
    background-color: #008800;
    margin: 10px;
    padding: 10px;

}

.wallet-recap .wallet-header .wallet-type {

}

.wallet-recap .wallet-action {

}

.wallet-recap .wallet-name {

}